$white: #fff;
$black: #000;

$accent: #a3bbc8;
$orange: #fcd7b6;
$lightorange: #fde7d3;
$blue: #436372;
$text: #191919;
$darkblue: #243f4d;
$lightblue: #edf1f4;


$rubik: "Rubik";
$dmsans: "DMSans";
$poppins: "Poppins";