$white: #fff;
$black: #000;

$accent: #a3bbc8;
$orange: #fcd7b6;
$lightorange: #fde7d3;
$yellow: #fef7f0;
$gray: #7b7b7b;
$lightblue: #edf1f4;
$blue-text: #436372;
$darkblue-text: #234969;
$footer-title: #1f2044;
$line-footer: #dae4e9;

$rubik: "Rubik";
$dmsans: "DMSans";
$poppins: "Poppins";
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

