@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    padding: 50px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        font-family: $rubik;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        font-weight: 700;
        color: $blue;
    }
}

.user-nav {
    display: flex;
    align-items: center;

    &__link {
        padding: 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &--search::before {
            background-image: url('../images/icons/search.svg');
        }

        &--like::before {
            background-image: url('../images/icons/like.svg');
        }

        &--cart::before {
            background-image: url('../images/icons/cart.svg');
        }

        &--other::before {
            background-image: url('../images/icons/other.svg');
        }

        &--search {
            background-color: $lightblue;
        }

        &--search,
        &--other {
            border-radius: 50%;
        }

        &--like {
            margin-right: -4px;
            border-radius: 25px 0 0 25px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 32px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: $lightorange;
            }
        }

        &--cart {
            border-radius: 0 25px 25px 0;
        }

        &--like,
        &--cart {
            background-color: $orange;
            padding: 20px 40px;
        }

        &--other {
            background-color: $accent;
        }
    }

    &__wrapper {
        margin: 0 20px 0 20px;
    }

    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $white;
        top: 3px;
        right: 10px;
        font-family: $dmsans;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
    }
}

.top-slider {
    &__list {
        background-color: $orange;
        padding: 100px 45px 45px 45px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        max-width: 420px;
        margin-right: 145px;
        font-family: $rubik;
    }

    &__title {
        font-size: 72px;
        line-height: 70px;
        color: $darkblue;
        margin-bottom: 35px;
    }

    &__text {
        font-size: 18px;
        color: $blue;
        margin-bottom: 35px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {
            &:not(:last-child) {
                margin-right: 10px;
            }

            button {
                font-size: 11px;
                line-height: 9px;
                color: $darkblue;
                background-color: rgba($white, 0.302);
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            &.slick-active {
                background-color: $white;
                border-radius: 50%;
            }
        }
    }

}